Exercise 1. 

Create a table named Countries which has country_id column as the primary key and name column. Then insert least 3 rows of data and use SELECT command to show the contents of the table.

In [1]:
# You need to run this cell to connect to in-memory database

#importing the sqlite module 
import sqlite3

# In memory database
dbconn = sqlite3.connect(':memory:')

#set a variable up for the cursor to write SQL scripts
db = dbconn.cursor()

In [2]:
db.execute ("""CREATE TABLE Country (Country_ID INTEGER PRIMARY KEY AUTOINCREMENT,
                                    Name TEXT)
            """)
dbconn.commit()
db.execute("INSERT INTO Country VALUES (NULL, 'Bhutan')")
db.execute("INSERT INTO Country VALUES (NULL, 'Nepal')")
db.execute("INSERT INTO Country VALUES (NULL, 'Germany')")
db.execute("INSERT INTO Country VALUES (NULL, 'Austria')")
dbconn.commit()
db.execute ('SELECT * FROM Country')
print (db.fetchall())

[(1, 'Bhutan'), (2, 'Nepal'), (3, 'Germany'), (4, 'Austria')]

Exercise 2.

Create a table name Cities which has city_id column as the primary key, name column, population column, and country_id column as the foreign key connecting to country_id column of Countries table from Exercise 1. 

Then 
- insert least 5 rows of data 
- use SELECT command to show the contents of the table
- use SELECT command to only show the cities of selected country

In [3]:
db.execute ("""CREATE TABLE Cities (City_ID INTEGER PRIMARY KEY AUTOINCREMENT, 
                                   Name Text, 
                                   Population INTEGER,
                                   Country_ID INTEGER NOT NULL,
                                   FOREIGN KEY(Country_ID) REFERENCES Country (Country_ID))""")

dbconn.commit()
db.execute ("INSERT INTO Cities VALUES (NULL, 'Kathmandu', 1471867, 2)")
db.execute ("INSERT INTO Cities VALUES (NULL, 'Pokhara', 439000, 2)")
db.execute ("INSERT INTO Cities VALUES (NULL, 'Thimphu', 98676, 1)")
db.execute ("INSERT INTO Cities VALUES (NULL, 'Paro', 2362, 1)")
db.execute ("INSERT INTO Cities VALUES (NULL, 'Franfurt', 784780, 3)")
db.execute ("INSERT INTO Cities VALUES (NULL, 'Vienna', 1944910, 4)")
dbconn.commit()
db.execute ("SELECT * FROM Cities")
print(db.fetchall())
#
# Show cities in Nepal
#
print("\nCities in Nepal:")
db.execute ("SELECT Name FROM Cities WHERE Country_ID = 2")
print(db.fetchall())

[(1, 'Kathmandu', 1471867, 2), (2, 'Pokhara', 439000, 2), (3, 'Thimphu', 98676, 1), (4, 'Paro', 2362, 1), (5, 'Franfurt', 784780, 3), (6, 'Vienna', 1944910, 4)]

Cities in Nepal:
[('Kathmandu',), ('Pokhara',)]

Exercise 3.

Modify 3rd row of Cities table to increase city's population by 1,000. Show data before and after the change.

In [4]:
print("Before increasing population")

db.execute ('SELECT * FROM Cities WHERE RowID=3')
print(db.fetchall())
db.execute ('SELECT * FROM Cities WHERE RowID=3')
new_value = db.fetchone()[2] + 1000

db.execute ('UPDATE Cities set Population = ? WHERE RowID=3',(new_value,))
db.execute ('SELECT * FROM Cities WHERE RowID=3')

print ("\nAfter increasing population by 1000")
print (db.fetchall())

Before increasing population
[(3, 'Thimphu', 98676, 1)]

After increasing population by 1000
[(3, 'Thimphu', 99676, 1)]